.Menuid-field {
  display: none;
}

.Add-button {
  margin-top: 20px;
}

.Menuitem-section {
  display: flex;
  align-items: center;
}

.Price {
  margin-left: 30px;
}

.Delete {
  height: 18px;
  margin-left: 20px;
}
