.Add-item {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.Additem-link {
}
.Hide-form {
  display: none;

  align-items: center;
}

.Menuitem-section {
  display: flex;
  align-items: center;
}
